<section class="service-grid-container">
	<div class="service-grid">
		<div class="service-grid-heading">
			<h2 class="service-grid-heading-title">
				Core <span class="text-highlight-primary">Services</span>
			</h2>
			<div class="heading-border"></div>
		</div>

		<div class="card-container">
			<div class="service-card">
				<div class="service-heading">
					<div class="service-heading-left">
						<i data-lucide="monitor" class="service-icon"></i>
					</div>
				</div>
				<h3 class="service-title">Web Development</h3>
				<p class="service-body">
					Delivering high-performance, lightning-fast, scalable web
					applications and high-conversion landing pages. Built with
					the latest technologies to ensure your online presence is
					fast and reliable.
				</p>
				<div class="service-footer">
					Frontend / Backend / Full-Stack
				</div>
			</div>

			<div class="service-card group">
				<div class="service-heading">
					<div class="service-heading-left">
						<i data-lucide="cpu" class="service-icon"></i>
					</div>
				</div>
				<h3 class="service-title">Tech-Stack Management</h3>
				<p class="service-body">
					Expert management of your technology stack, ensuring
					seamless integration and optimal performance. From
					development tools to deployment platforms, we handle it all.
				</p>
				<div class="service-footer">
					Research / Development / Optimization
				</div>
			</div>

			<div class="service-card">
				<div class="service-heading">
					<div class="service-heading-left">
						<i data-lucide="code" class="service-icon"></i>
					</div>
				</div>
				<h3 class="service-title">Custom Solutions</h3>
				<p class="service-body">
					Tailored technology solutions designed to meet your unique
					business needs. Whether it's a custom web application,
					automation tool, or specialized software, we drive
					efficiency.
				</p>
				<div class="service-footer">
					Marketing / E-commerce / Automation
				</div>
			</div>
		</div>
	</div>
</section>
