<footer class="footer-container">
	<div class="footer-content-wrapper">
		<div class="footer-main-grid">
			<div
				class="flex justify-center md:justify-start md:order-1 order-3"
			>
				<a href="https://cbeens.dev" class="text-xs nav-link">
					Built by <span class="font-bold uppercase">cbeens.dev</span>
				</a>
			</div>

			<div
				class="flex flex-col items-center gap-3 order-1 md:order-1 text-center"
			>
				<img
					src="/src/assets/cbeens_logo_h.svg"
					alt="cbeens.dev Logo"
					class="h-6 brightness-0 invert"
				/>
				<p class="text-[10px] text-gray-500 tracking-[0.2em] uppercase">
					&copy; 2026 CBEENS.DEV ALL RIGHTS RESERVED
				</p>
			</div>

			<div class="footer-socials order-2 md:order-3">
				<a
					href="https://github.com/cbeens"
					class="footer-icon-link"
					title="GitHub"
				>
					<img
						src="/src/assets/icons/github.svg"
						class="footer-icon"
						alt="GitHub"
					/>
				</a>
				<a
					href="https://linkedin.com/company/cbeens-dev"
					class="footer-icon-link"
					title="LinkedIn"
				>
					<img
						src="/src/assets/icons/linkedin.svg"
						class="footer-icon"
						alt="LinkedIn"
					/>
				</a>
				<a
					href="https://x.com/cbeensdev"
					class="footer-icon-link"
					title="X"
				>
					<img
						src="/src/assets/icons/twitter-x.svg"
						class="footer-icon"
						alt="X"
					/>
				</a>
				<a
					href="https://instagram.com/cbeens.dev"
					class="footer-icon-link"
					title="Instagram"
				>
					<img
						src="/src/assets/icons/instagram.svg"
						class="footer-icon"
						alt="Instagram"
					/>
				</a>
				<a
					href="https://youtube.com/@cbeensdev"
					class="footer-icon-link"
					title="YouTube"
				>
					<img
						src="/src/assets/icons/youtube.svg"
						class="footer-icon"
						alt="YouTube"
					/>
				</a>
			</div>
		</div>

		<nav class="footer-legal-nav">
			<a href="https://cbeens.dev/privacy/" class="nav-link">Privacy</a>
			<a href="https://cbeens.dev/terms-of-service" class="nav-link"
				>Terms</a
			>
		</nav>
	</div>
</footer>
