<nav
	class="w-full bg-black text-white flex items-center justify-between px-8 py-4"
>
	<a href="/" class="shrink-0">
		<img
			src="/src/assets/cbeens_logo_h.svg"
			alt="cbeens.dev Logo"
			class="h-8 -ml-4 hover:scale-110 transition-transform"
		/>
	</a>

	<div class="flex items-center gap-6">
		<div
			class="hidden lg:flex gap-8 font-header font-bold border-r border-white/20 pr-6"
		>
			<a href="/" class="nav-link">Home</a>
			<a href="/about" class="nav-link">About</a>
			<a href="/services" class="nav-link">Services</a>
		</div>

		<button
			id="mobile-menu-toggle"
			class="lg:hidden cursor-pointer nav-link p-2"
		>
			<i data-lucide="menu"></i>
		</button>

		<div class="hidden md:flex items-center gap-4">
			<a href="tel:+15120000000" class="btn-primary-icon">
				<i data-lucide="phone" class="nav-icon"></i>
			</a>
			<a href="mailto:info@cbeens.dev" class="btn-secondary-icon">
				<i data-lucide="mail" class="nav-icon"></i>
			</a>
		</div>
	</div>

	<div
		id="mobile-drawer"
		class="fixed inset-0 top-21 bg-white z-40 translate-x-full transition-transform duration-300 ease-in-out lg:hidden"
	>
		<div class="flex flex-col p-8 gap-2">
			<a href="/" class="drawer-link">Home</a>
			<a href="/about" class="drawer-link">About</a>
			<a href="/services" class="drawer-link">Services</a>

			<div class="flex flex-col gap-4 mt-8 md:hidden">
				<a
					href="tel:+15120000000"
					class="btn-primary flex items-center justify-center gap-3"
				>
					<i data-lucide="phone"></i> Call Now
				</a>
				<a
					href="mailto:info@cbeens.dev"
					class="btn-secondary flex items-center justify-center gap-3"
				>
					<i data-lucide="mail"></i> Email Us
				</a>
			</div>
		</div>
	</div>
</nav>
