<nav class="nav-container">
	<a href="/" class="nav-logo-wrapper">
		<img
			src="/src/assets/cbeens_logo_h.svg"
			alt="cbeens.dev Logo"
			class="nav-logo"
		/>
	</a>

	<div class="nav-right-side">
		<div class="nav-desktop-links">
			<a href="/" class="nav-link">Home</a>
			<a href="/about" class="nav-link">About</a>
			<a href="/services" class="nav-link">Services</a>
		</div>

		<button id="mobile-menu-toggle" class="nav-mobile-toggle">
			<i data-lucide="menu"></i>
		</button>

		<div class="nav-cta-icons">
			<a href="tel:+15120000000" class="btn-primary-icon">
				<i data-lucide="phone" class="nav-icon"></i>
			</a>
			<a href="mailto:info@cbeens.dev" class="btn-secondary-icon">
				<i data-lucide="mail" class="nav-icon"></i>
			</a>
		</div>
	</div>

	<div id="mobile-drawer" class="mobile-drawer">
		<div class="drawer-content">
			<a href="/" class="drawer-link">Home</a>
			<a href="/about" class="drawer-link">About</a>
			<a href="/services" class="drawer-link">Services</a>

			<div class="drawer-cta-wrapper">
				<a
					href="tel:+15120000000"
					class="btn-primary flex items-center justify-center gap-3"
				>
					<i data-lucide="phone"></i> Call Now
				</a>
				<a
					href="mailto:info@cbeens.dev"
					class="btn-secondary flex items-center justify-center gap-3"
				>
					<i data-lucide="mail"></i> Email Us
				</a>
			</div>
		</div>
	</div>
</nav>
