@import "tailwindcss";

@theme {
	/* Brand Colors */
	--color-brand-primary: #7844b3;
	--color-brand-secondary: #99b344;
	--color-black: #000000;
	--color-white: #ffffff;

	/* Typography */
	--font-heading: "Space Grotesk", sans-serif;
	--font-body: "Hanken Grotesk", "Inter", sans-serif;
	--font-mono: "IBM Plex Mono", "JetBrains Mono", monospace;
}

/* Base Styles */
@layer base {
	body {
		@apply font-body bg-white text-black;
	}
	h1,
	h2,
	h3,
	h4 {
		@apply font-heading font-bold;
	}
}

.logo {
	height: 15em;
}

#app {
	/* Subtracts the estimated header (~73px) and footer (~240px) */
	min-height: calc(100vh - 287px);
	display: flex;
	flex-direction: column;
}
